*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    height: 600px;
    background-color: #ff8d72;
    background-image: url(assets/bg-pattern-intro.svg);
    border-bottom-left-radius: 120px;

    background-position: top 52% left 24% ;
    background-size: 200%;

    display: flex;
    justify-content: center;
}

.header{
    width: 1120px;
}

.header_main{
    display: flex;
    justify-content: space-between;
}

.main{
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.nav{
    margin-left: 50px;
}

.nav a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}

.nav a:hover{
    text-decoration: underline white;
}

.nav img{
    margin-left: 10px;
}

/*== Modal ==*/



/*== Login ==*/
.login{
    margin: 50px 0;
}


.login a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    padding: 15px 40px;
}

.login a.active{
    background-color: white;
    border-radius: 50px;
    color: #ff8d72;
}


.login a:hover{
    padding: 15px 40px;
    background-color: #ff7b86;
    border-radius: 50px;
    color: white;
}

.text{
    text-align: center;
    margin-top: 100px;
}
.text h1{
    font-size: 48px;
    color: white;
    font-weight: 500;
}

.text p{
    font-size: 18px;
    color: white;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 20px;
    margin-bottom: 40px;
}

.text .button{
    margin-top: 80px;
}

.text .button a{
    text-decoration: none;
    color: white;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;

    padding: 15px 40px;
    border-radius: 30px;
    border: 1px solid white;
}

.text .button a:hover{
    color: #fe6963;
    background-color: white;
}

.text .button a.whait{
    color: #ff7b86;
    background-color: white;
    border: none;
}

.text .button a.active:hover{
    color: white;
    background-color: #ff7b86;
    border: none;
}

/*== Section ==*/
section{
    height: 1000px;
    background-image: url(/assets/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: center left 163%;

    display: flex;
    justify-content: center;
    align-items: center;

}

section .container{
    width: 1120px;
    text-align: center;
}

.container h1{
    font-size: 42px;
    font-weight: 500;
    color: #1e4157;
    margin-top: -200px;
}

section .container_text{
    text-align: justify;
    color: #1e4157;
    max-width: 540px;
    margin-top: 100px;
}

section .container_text h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

section .container_text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}
/*== Cell ==*/
.cell{
    width: 100%;
    height: 400px;
    background-color: #3a3b59;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;

    background-image: url(/assets/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -520px;

    display: flex;
    justify-content: center;
}

.cell_content{
        max-width: 1120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.cell_text{
    max-width: 530px;
    color: white;
    margin-left: 50px;
}

.cell_text h1{
    font-size: 36px;
    font-weight: 300;
}

.cell_text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 30px;
}

/*== PC Area ==*/
.pc_area{
    height: 1000px;
    background-image: url(/assets/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: center left -269px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pc-text-area{
    max-width: 1120px;
    width: 1120px;
    display: flex;
    justify-content: flex-end;
    
}

.pc-text{
    max-width: 513px;
    color: #233f57;
}

.pc-text h1{
    font-size: 32px;
    font-weight: 300;
}

.pc-text p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 50px;
}

/*== Footer ==*/
footer{
    width: 100%;
    height: 400px;
    background-color:#24242c;
    border-top-right-radius: 150px;

    display: flex;
    justify-content: center;
}

.footer_area{
    width: 1120px;

    display: grid;
    grid-template-columns: repeat(4, 1fr) ;

    margin-top: 70px;
}

.footer_product a{
    text-decoration: none;
    color: white;
}

.footer_product h1{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer_product p{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    opacity: 0.8;
}

.footer_product a p:hover{
    text-decoration: underline white;
}
